Core/WebEas.Services.Esb/Service References/Iam.Role/WebServiceConnector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://schemas.dcom.sk/private/iam/services/role/ws/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:_="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServiceConnector" targetNamespace="http://schemas.dcom.sk/private/iam/services/role/ws/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="WS2007FederationHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1
                            </t:TokenType>
                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                <t:KeySize>256</t:KeySize>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
              <sp:Issuer>
                <wsaws:Address>
                                https://lbsts.intra.dcom.sk:49443/adfs/services/trust/13/certificatetransport
                            </wsaws:Address>
                <wsaws:Metadata xmlns:wsdli="http://www.w3.org/2006/01/wsdl-instance" wsdli:wsdlLocation="http://lbsts.intra.dcom.sk/adfs/services/trust/mex">
                  <wsaw:ServiceName xmlns:stsns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" EndpointName="CertificateWSTrustBinding_IWSTrust13Async2">
                                    stsns:SecurityTokenService
                                </wsaw:ServiceName>
                </wsaws:Metadata>
              </sp:Issuer>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/private/iam/services/role/ws/1.0">
      <xsd:complexType name="FaultType" abstract="true">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" type="xsd:string" />
          <xsd:element minOccurs="0" name="message" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="fault" type="tns:FaultType" />
      <xsd:complexType name="SystemErrorFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:FaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="systemErrorFault" type="tns:SystemErrorFaultType" />
      <xsd:complexType name="ObjectNotFoundFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:FaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="objectNotFoundFault" type="tns:ObjectNotFoundFaultType" />
      <xsd:element name="userGuid" type="xsd:string" />
      <xsd:element name="roleName" type="xsd:string" />
      <xsd:element name="tenantId" type="xsd:string" />
      <xsd:element name="value" type="xsd:boolean" />
      <xsd:complexType name="ListType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="roles" type="tns:ListType" />
      <xsd:complexType name="UserListType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="user" type="tns:UserType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="users" type="tns:UserListType" />
      <xsd:complexType name="UserType">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string" />
          <xsd:element minOccurs="0" name="displayName" type="xsd:string" />
          <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
          <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
          <xsd:element minOccurs="0" name="email" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUserRolesIn" type="tns:GetUserRolesInType" />
      <xsd:complexType name="GetUserRolesInType">
        <xsd:sequence>
          <xsd:element name="userGuid" type="xsd:string" />
          <xsd:element name="tenantId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getRoleUsersIn" type="tns:GetRoleUsersInType" />
      <xsd:complexType name="GetRoleUsersInType">
        <xsd:sequence>
          <xsd:element name="roleName" type="xsd:string" />
          <xsd:element name="tenantId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="isUserInRoleIn" type="tns:IsUserInRoleInType" />
      <xsd:complexType name="IsUserInRoleInType">
        <xsd:sequence>
          <xsd:element name="userGuid" type="xsd:string" />
          <xsd:element name="roleName" type="xsd:string" />
          <xsd:element name="tenantId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUserTenantsIn" type="xsd:string" />
      <xsd:element name="tenants" type="tns:ListType" />
      <xsd:element name="municipalityTenantId" type="xsd:string" />
      <xsd:element name="socuTenantId" type="xsd:string" />
      <xsd:complexType name="UnionRoleType">
        <xsd:sequence>
          <xsd:element name="socu" type="xsd:string" />
          <xsd:element name="municipality" type="xsd:string" />
          <xsd:element name="agendaCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="agendaDisplayName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unionRoles" type="tns:UnionRolesType" />
      <xsd:complexType name="UnionRolesType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:UnionRoleType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUserRolesTypeIn" type="tns:GetUserRolesType" />
      <xsd:complexType name="GetUserRolesType">
        <xsd:sequence>
          <xsd:element name="userGuid" type="xsd:string" />
          <xsd:element name="tenantId" type="xsd:string" />
          <xsd:element minOccurs="0" name="roleType" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUnionRolesByUserIn" type="tns:GetUnionRolesByUserInType" />
      <xsd:complexType name="GetUnionRolesByUserInType">
        <xsd:sequence>
          <xsd:element name="userGuid" type="xsd:string" />
          <xsd:element maxOccurs="unbounded" name="municipalityTenantsId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AgendaType">
        <xsd:sequence>
          <xsd:element name="municipality" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="unionRole" type="tns:UnionRoleType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUnionRolesByUserOut" type="tns:GetUnionRolesByUserOutType" />
      <xsd:complexType name="GetUnionRolesByUserOutType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="agenda" type="tns:AgendaType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getRoleUsersIn">
    <wsdl:part name="parameters" element="tns:getRoleUsersIn" />
  </wsdl:message>
  <wsdl:message name="getUnionRolesForUnionIn">
    <wsdl:part name="socuTenantId" element="tns:socuTenantId" />
  </wsdl:message>
  <wsdl:message name="getUnionRolesForMunicipalityOut">
    <wsdl:part name="value" element="tns:unionRoles" />
  </wsdl:message>
  <wsdl:message name="getUnionRolesForUnionOut">
    <wsdl:part name="value" element="tns:unionRoles" />
  </wsdl:message>
  <wsdl:message name="getUserRolesByTypeOut">
    <wsdl:part name="roles" element="tns:roles" />
  </wsdl:message>
  <wsdl:message name="getUserRolesByTypeIn">
    <wsdl:part name="parameters" element="tns:getUserRolesTypeIn" />
  </wsdl:message>
  <wsdl:message name="getUnionRolesForMunicipalityIn">
    <wsdl:part name="municipalityTenantId" element="tns:municipalityTenantId" />
  </wsdl:message>
  <wsdl:message name="getRoleUsersOut">
    <wsdl:part name="users" element="tns:users" />
  </wsdl:message>
  <wsdl:message name="getUserTenantsOut">
    <wsdl:part name="value" element="tns:tenants" />
  </wsdl:message>
  <wsdl:message name="getUserRolesIn">
    <wsdl:part name="parameters" element="tns:getUserRolesIn" />
  </wsdl:message>
  <wsdl:message name="FaultMessage">
    <wsdl:part name="fault" element="tns:fault" />
  </wsdl:message>
  <wsdl:message name="getUserRolesOut">
    <wsdl:part name="roles" element="tns:roles" />
  </wsdl:message>
  <wsdl:message name="isUserInRoleIn">
    <wsdl:part name="parameters" element="tns:isUserInRoleIn" />
  </wsdl:message>
  <wsdl:message name="getUserTenantsIn">
    <wsdl:part name="userGuid" element="tns:getUserTenantsIn" />
  </wsdl:message>
  <wsdl:message name="getUnionRolesByUserOut">
    <wsdl:part name="value" element="tns:getUnionRolesByUserOut" />
  </wsdl:message>
  <wsdl:message name="isUserInRoleOut">
    <wsdl:part name="value" element="tns:value" />
  </wsdl:message>
  <wsdl:message name="getUnionRolesByUserIn">
    <wsdl:part name="parameters" element="tns:getUnionRolesByUserIn" />
  </wsdl:message>
  <wsdl:portType name="RolePort">
    <wsdl:operation name="getUserRoles">
      <wsdl:input message="tns:getUserRolesIn" />
      <wsdl:output message="tns:getUserRolesOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRoleUsers">
      <wsdl:input message="tns:getRoleUsersIn" />
      <wsdl:output message="tns:getRoleUsersOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="isUserInRole">
      <wsdl:input message="tns:isUserInRoleIn" />
      <wsdl:output message="tns:isUserInRoleOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserTenants">
      <wsdl:input message="tns:getUserTenantsIn" />
      <wsdl:output message="tns:getUserTenantsOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnionRolesForMunicipality">
      <wsdl:input message="tns:getUnionRolesForMunicipalityIn" />
      <wsdl:output message="tns:getUnionRolesForMunicipalityOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnionRolesForUnion">
      <wsdl:input message="tns:getUnionRolesForUnionIn" />
      <wsdl:output message="tns:getUnionRolesForUnionOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnionRolesByUser">
      <wsdl:input message="tns:getUnionRolesByUserIn" />
      <wsdl:output message="tns:getUnionRolesByUserOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserRolesByType">
      <wsdl:input message="tns:getUserRolesByTypeIn" />
      <wsdl:output message="tns:getUserRolesByTypeOut" />
      <wsdl:fault name="fault" message="tns:FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleBinding" type="tns:RolePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#WS2007FederationHttpBinding_IService_policy" />
    <wsdl:operation name="getUserRoles">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoleUsers">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserInRole">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserTenants">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnionRolesForMunicipality">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnionRolesForUnion">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnionRolesByUser">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserRolesByType">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="RolePort" binding="tns:RoleBinding">
      <soap:address location="https://lbsoa.intra.dcom.sk/soa/iam/1.1/roleservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>