Core/WebEas.Services.Esb/Service References/Epod.Submission/SubmissionServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://schemas.dcom.sk/private/ePodatelna/1.0" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SubmissionServices" targetNamespace="http://schemas.dcom.sk/private/ePodatelna/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="WS2007FederationHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1
                            </t:TokenType>
                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                <t:KeySize>256</t:KeySize>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
              <sp:Issuer>
                <wsaws:Address>
                                https://lbsts.intra.dcom.sk:49443/adfs/services/trust/13/certificatetransport
                            </wsaws:Address>
                <wsaws:Metadata xmlns:wsdli="http://www.w3.org/2006/01/wsdl-instance" wsdli:wsdlLocation="http://lbsts.intra.dcom.sk/adfs/services/trust/mex">
                  <wsaw:ServiceName xmlns:stsns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" EndpointName="CertificateWSTrustBinding_IWSTrust13Async2">
                                    stsns:SecurityTokenService
                                </wsaw:ServiceName>
                </wsaws:Metadata>
              </sp:Issuer>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/private/ePodatelna/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="BinaryData" type="xs:base64Binary" />
      <xs:element name="CaseFile" type="tns:CaseFile" />
      <xs:element name="CaseFileSolverNotificationDto" type="tns:CaseFileSolverNotificationDto" />
      <xs:element name="CreateSubmissionDto" type="tns:CreateSubmissionDto" />
      <xs:element name="DcomFault" type="tns:DcomFault" />
      <xs:element name="DecisionAttributesEventDto" type="tns:DecisionAttributesEventDto" />
      <xs:element name="DecisionAttributesInsertDto" type="tns:DecisionAttributesInsertDto" />
      <xs:element name="DecisionsAttributesDto" type="tns:DecisionsAttributesDto" />
      <xs:element name="DispatchAttempt" type="tns:DispatchAttempt" />
      <xs:element name="DispatchDataEventDto" type="tns:DispatchDataEventDto" />
      <xs:element name="DispatchDto" type="tns:DispatchDto" />
      <xs:element name="DispatchRecipientDto" type="tns:DispatchRecipientDto" />
      <xs:element name="EDeskInfoDto" type="tns:EDeskInfoDto" />
      <xs:element name="ERegistryException" type="tns:ERegistryException" />
      <xs:element name="ErrorDto" type="tns:ErrorDto" />
      <xs:element name="EventDto" type="tns:EventDto" />
      <xs:element name="EventProcessingResultDto" type="tns:EventProcessingResultDto" />
      <xs:element name="FileRenumberingDto" type="tns:FileRenumberingDto" />
      <xs:element name="FileRenumberingDtoList" type="tns:FileRenumberingDtoList" />
      <xs:element name="FileRenumberingResponseDto" type="tns:FileRenumberingResponseDto" />
      <xs:element name="GetCaseFilesRequestDto" type="tns:GetCaseFilesRequestDto" />
      <xs:element name="GetCaseFilesResponseDto" type="tns:GetCaseFilesResponseDto" />
      <xs:element name="GetDCOMIdRequestDto" type="tns:GetDCOMIdRequestDto" />
      <xs:element name="GetRecordsRequestDto" type="tns:GetRecordsRequestDto" />
      <xs:element name="GetRecordsResponseDto" type="tns:GetRecordsResponseDto" />
      <xs:element name="GetSubmissionsRequestDto" type="tns:GetSubmissionsRequestDto" />
      <xs:element name="GetSubmissionsResponseDto" type="tns:GetSubmissionsResponseDto" />
      <xs:element name="HyperlinkDto" type="tns:HyperlinkDto" />
      <xs:element name="IncomingMessageDto" type="tns:IncomingMessageDto" />
      <xs:element name="InsertBulkRecordDto" type="tns:InsertBulkRecordDto" />
      <xs:element name="InsertBulkRecordDtoList" type="tns:InsertBulkRecordDtoList" />
      <xs:element name="InsertBulkRecordErrorItemDto" type="tns:InsertBulkRecordErrorItemDto" />
      <xs:element name="InsertBulkRecordResponseDto" type="tns:InsertBulkRecordResponseDto" />
      <xs:element name="InsertBulkRecordSuccessItemDto" type="tns:InsertBulkRecordSuccessItemDto" />
      <xs:element name="InsertInternalDocumentDto" type="tns:InsertInternalDocumentDto" />
      <xs:element name="InsertRecordDraftDto" type="tns:InsertRecordDraftDto" />
      <xs:element name="InsertRecordPartDto" type="tns:InsertRecordPartDto" />
      <xs:element name="MessageBusinessAttributesDto" type="tns:MessageBusinessAttributesDto" />
      <xs:element name="MessagePartDto" type="tns:MessagePartDto" />
      <xs:element name="NotificationDto" type="tns:NotificationDto" />
      <xs:element name="NotifyRecordRelatedEventDto" type="tns:NotifyRecordRelatedEventDto" />
      <xs:element name="NotifyRecordRelatedEventResponseDto" type="tns:NotifyRecordRelatedEventResponseDto" />
      <xs:element name="ObjectDCOMId" type="xs:long" />
      <xs:element name="OutgoingMessageDto" type="tns:OutgoingMessageDto" />
      <xs:element name="PaginationRequestDto" type="tns:PaginationRequestDto" />
      <xs:element name="PaginationResponseDto" type="tns:PaginationResponseDto" />
      <xs:element name="Record" type="tns:Record" />
      <xs:element name="RecordBulkDto" type="tns:RecordBulkDto" />
      <xs:element name="RecordDetailRequestDto" type="tns:RecordDetailRequestDto" />
      <xs:element name="RecordDispatch" type="tns:RecordDispatch" />
      <xs:element name="RecordDto" type="tns:RecordDto" />
      <xs:element name="RecordIdListDto" type="tns:RecordIdListDto" />
      <xs:element name="RecordPart" type="tns:RecordPart" />
      <xs:element name="RecordPartDto" type="tns:RecordPartDto" />
      <xs:element name="RecordPartId" type="xs:long" />
      <xs:element name="RecordReceipt" type="tns:RecordReceipt" />
      <xs:element name="RecordRecipientDto" type="tns:RecordRecipientDto" />
      <xs:element name="RecordRenumberingDto" type="tns:RecordRenumberingDto" />
      <xs:element name="RecordShortDto" type="tns:RecordShortDto" />
      <xs:element name="RecordShortDtoList" type="tns:RecordShortDtoList" />
      <xs:element name="SubmissionDto" type="tns:SubmissionDto" />
      <xs:element name="SubmitterDto" type="tns:SubmitterDto" />
      <xs:element name="SuccessDto" type="tns:SuccessDto" />
      <xs:element name="UserAgendaItemDto" type="tns:UserAgendaItemDto" />
      <xs:element name="UserAgendaRequestDto" type="tns:UserAgendaRequestDto" />
      <xs:element name="UserAgendaResponseDto" type="tns:UserAgendaResponseDto" />
      <xs:element name="UserTaskDto" type="tns:UserTaskDto" />
      <xs:element name="ValidationError" type="tns:ValidationError" />
      <xs:element name="ValidationErrorArguments" type="tns:ValidationErrorArguments" />
      <xs:complexType name="GetSubmissionsRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateFrom" type="xs:date" />
          <xs:element minOccurs="0" name="dateTo" type="xs:date" />
          <xs:element minOccurs="0" name="PaginationRequestDto" type="tns:PaginationRequestDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaginationRequestDto">
        <xs:sequence>
          <xs:element name="page" type="xs:int" />
          <xs:element name="size" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSubmissionsResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateFrom" type="xs:date" />
          <xs:element minOccurs="0" name="dateTo" type="xs:date" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SubmissionDto" type="tns:SubmissionDto" />
          <xs:element name="PaginationResponseDto" type="tns:PaginationResponseDto" />
          <xs:element minOccurs="0" name="EDeskInfoDto" type="tns:EDeskInfoDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmissionDto">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element minOccurs="0" name="submitter" type="tns:SubmitterDto" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="dateReceived" type="xs:dateTime" />
          <xs:element name="deliveryType" type="tns:DeliveryType" />
          <xs:element name="processingModule" type="xs:string" />
          <xs:element minOccurs="0" name="processingStatus" type="xs:string" />
          <xs:element minOccurs="0" name="processingDescription" type="xs:string" />
          <xs:element minOccurs="0" name="hyperlink" type="tns:HyperlinkDto" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTaskDto" type="tns:UserTaskDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitterDto">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="displayName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HyperlinkDto">
        <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="url" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserTaskDto">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="solver" type="xs:string" />
          <xs:element name="url" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaginationResponseDto">
        <xs:sequence>
          <xs:element name="total" type="xs:long" />
          <xs:element name="page" type="xs:int" />
          <xs:element name="size" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EDeskInfoDto">
        <xs:sequence>
          <xs:element name="lastChecked" type="xs:dateTime" />
          <xs:element name="notProcessedCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DcomFault">
        <xs:sequence>
          <xs:element name="faultCode" type="xs:long" />
          <xs:element name="faultMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateSubmissionDto">
        <xs:sequence>
          <xs:element name="submissionChannel" type="tns:SubmissionChannel" />
          <xs:element name="dateReceived" type="xs:date" />
          <xs:element minOccurs="0" name="senderId" type="xs:string" />
          <xs:element name="recipientId" type="xs:string" />
          <xs:element name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="senderBusinessReference" type="xs:string" />
          <xs:element minOccurs="0" name="recipientBusinessReference" type="xs:string" />
          <xs:element minOccurs="0" name="solverId" type="xs:string" />
          <xs:element minOccurs="0" name="autocategorization" type="xs:boolean" />
          <xs:element minOccurs="0" name="eServiceNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordPartDto" type="tns:RecordPartDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordPartDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="position" type="xs:int" />
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="mimetype" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="xs:string" />
          <xs:element minOccurs="0" name="dataBinary" type="xs:base64Binary" />
          <xs:element name="partClass" type="tns:MessagePartClass" />
          <xs:element name="encoding" type="tns:Encoding" />
          <xs:element name="isSigned" type="xs:boolean" />
          <xs:element minOccurs="0" name="formId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Record">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="confidentiality" type="tns:RecordConfidentiality" />
          <xs:element minOccurs="0" name="recordType" type="tns:RecordType" />
          <xs:element minOccurs="0" name="registryNumber" type="xs:string" />
          <xs:element minOccurs="0" name="registryRecordId" type="xs:long" />
          <xs:element name="source" type="tns:RecordSource" />
          <xs:element name="status" type="tns:RecordStatus" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element name="lastUpdated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlationId" type="xs:string" />
          <xs:element minOccurs="0" name="inFileFrom" type="xs:date" />
          <xs:element minOccurs="0" name="numberInFile" type="xs:int" />
          <xs:element minOccurs="0" name="caseFileId" type="xs:long" />
          <xs:element minOccurs="0" name="caseFileRegistryId" type="xs:long" />
          <xs:element minOccurs="0" name="RecordReceipt" type="tns:RecordReceipt" />
          <xs:element maxOccurs="unbounded" name="RecordPart" type="tns:RecordPart" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordDispatch" type="tns:RecordDispatch" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordReceipt">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="sent" type="xs:dateTime" />
          <xs:element name="received" type="xs:dateTime" />
          <xs:element name="deliveryType" type="tns:DeliveryType" />
          <xs:element name="receivedFromId" type="xs:string" />
          <xs:element minOccurs="0" name="recipientBusinessReference" type="xs:string" />
          <xs:element minOccurs="0" name="senderBusinessReference" type="xs:string" />
          <xs:element minOccurs="0" name="messageId" type="xs:string" />
          <xs:element minOccurs="0" name="referenceId" type="xs:string" />
          <xs:element minOccurs="0" name="messageClass" type="xs:string" />
          <xs:element minOccurs="0" name="egovServiceCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordPart">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="formNs" type="xs:string" />
          <xs:element name="signed" type="xs:boolean" />
          <xs:element name="mimetype" type="xs:string" />
          <xs:element name="partClass" type="tns:RecordPartClass" />
          <xs:element name="position" type="xs:int" />
          <xs:element minOccurs="0" name="objectId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordDispatch">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="recipientId" type="xs:string" />
          <xs:element minOccurs="0" name="recipientBusinessReference" type="xs:string" />
          <xs:element minOccurs="0" name="senderBusinessReference" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="DispatchAttempt" type="tns:DispatchAttempt" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DispatchAttempt">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element minOccurs="0" name="recipientProxyId" type="xs:string" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dispatched" type="xs:dateTime" />
          <xs:element minOccurs="0" name="delivered" type="xs:dateTime" />
          <xs:element name="deliveryType" type="tns:DeliveryTypeOutbound" />
          <xs:element name="dispatchStatus" type="tns:DispatchStatus" />
          <xs:element minOccurs="0" name="note" type="xs:string" />
          <xs:element minOccurs="0" name="addressId" type="xs:long" />
          <xs:element minOccurs="0" name="messageId" type="xs:string" />
          <xs:element minOccurs="0" name="referenceId" type="xs:string" />
          <xs:element minOccurs="0" name="failedDeliveryReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CaseFile">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="fileStatus" type="tns:FileStatus" />
          <xs:element name="fileSolver" type="xs:string" />
          <xs:element name="bulk" type="xs:boolean" />
          <xs:element name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="registryFileId" type="xs:long" />
          <xs:element minOccurs="0" name="fileNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fileNumberHistory" nillable="true" type="xs:string" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element name="lastUpdated" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Record" type="tns:Record" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertBulkRecordDto">
        <xs:sequence>
          <xs:element name="correlationId" type="xs:long" />
          <xs:element minOccurs="0" name="caseFileId" type="xs:long" />
          <xs:element name="isMonitored" type="xs:boolean" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="recordType" type="tns:RecordType" />
          <xs:element minOccurs="0" name="confidentiality" type="tns:RecordConfidentiality" />
          <xs:element minOccurs="0" name="relatedRecordId" type="xs:long" />
          <xs:element minOccurs="0" name="DecisionAttributesInsertDto" type="tns:DecisionAttributesInsertDto" />
          <xs:element name="RecordRecipientDto" type="tns:RecordRecipientDto" />
          <xs:element maxOccurs="unbounded" name="InsertRecordPartDto" type="tns:InsertRecordPartDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DecisionAttributesInsertDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateIssued" type="xs:date" />
          <xs:element minOccurs="0" name="appealLimit" type="xs:int" />
          <xs:element minOccurs="0" name="appealLimitDurationType" type="tns:AppealLimitDurationType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordRecipientDto">
        <xs:sequence>
          <xs:element name="recipientId" type="xs:string" />
          <xs:element minOccurs="0" name="recipientProxyId" type="xs:string" />
          <xs:element minOccurs="0" name="addressId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertRecordPartDto">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="mimetype" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="xs:string" />
          <xs:element minOccurs="0" name="dataBinary" type="xs:base64Binary" />
          <xs:element name="partClass" type="tns:MessagePartClass" />
          <xs:element name="encoding" type="tns:Encoding" />
          <xs:element minOccurs="0" name="formId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutgoingMessageDto">
        <xs:sequence>
          <xs:element name="registryId" type="xs:long" />
          <xs:element name="registryNumber" type="xs:string" />
          <xs:element name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="senderReference" type="xs:string" />
          <xs:element minOccurs="0" name="recipientReference" type="xs:string" />
          <xs:element name="recipientId" type="xs:string" />
          <xs:element minOccurs="0" name="messageId" type="xs:string" />
          <xs:element minOccurs="0" name="correlationId" type="xs:string" />
          <xs:element minOccurs="0" name="referenceId" type="xs:string" />
          <xs:element minOccurs="0" name="confidentiality" type="tns:RecordConfidentiality" />
          <xs:element maxOccurs="unbounded" name="MessagePartDto" type="tns:MessagePartDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MessagePartDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="objectId" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="partClass" type="tns:MessagePartClass" />
          <xs:element name="signed" type="xs:boolean" />
          <xs:element name="mimeType" type="xs:string" />
          <xs:element name="encoding" type="tns:Encoding" />
          <xs:element name="content" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordShortDto">
        <xs:sequence>
          <xs:element name="recordId" type="xs:long" />
          <xs:element name="caseFileId" type="xs:long" />
          <xs:element name="type" type="tns:RecordType" />
          <xs:element name="status" type="tns:RecordStatus" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="source" type="tns:RecordSource" />
          <xs:element name="numberInFile" type="xs:int" />
          <xs:element name="dateInFileFrom" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertRecordDraftDto">
        <xs:sequence>
          <xs:element name="isMonitored" type="xs:boolean" />
          <xs:element minOccurs="0" name="caseFileId" type="xs:long" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="recordType" type="tns:RecordType" />
          <xs:element minOccurs="0" name="confidentiality" type="tns:RecordConfidentiality" />
          <xs:element minOccurs="0" name="relatedRecordId" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="InsertRecordPartDto" type="tns:InsertRecordPartDto" />
          <xs:element minOccurs="0" name="DecisionAttributesInsertDto" type="tns:DecisionAttributesInsertDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationDto">
        <xs:sequence>
          <xs:element name="recipientSubjectId" type="xs:long" />
          <xs:element name="content" type="xs:string" />
          <xs:element minOccurs="0" name="relatedRecordId" type="xs:long" />
          <xs:element minOccurs="0" name="relatedCaseFileId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IncomingMessageDto">
        <xs:sequence>
          <xs:element name="messageId" type="xs:string" />
          <xs:element name="correlationId" type="xs:string" />
          <xs:element minOccurs="0" name="referenceId" type="xs:string" />
          <xs:element name="dateReceived" type="xs:dateTime" />
          <xs:element name="messageClass" type="tns:MessageClass" />
          <xs:element minOccurs="0" name="messageSubClass" type="xs:string" />
          <xs:element name="recipientId" type="xs:string" />
          <xs:element minOccurs="0" name="senderId" type="xs:string" />
          <xs:element name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="senderBusinessReference" type="xs:string" />
          <xs:element minOccurs="0" name="recipientBusinessReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MessagePartDto" type="tns:MessagePartDto" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageBusinessAttributesDto" type="tns:MessageBusinessAttributesDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MessageBusinessAttributesDto">
        <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessDto">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidationError">
        <xs:sequence>
          <xs:element minOccurs="0" name="field" type="xs:string" />
          <xs:element name="type" type="tns:ValidationErrorType" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationErrorArguments" type="tns:ValidationErrorArguments" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidationErrorArguments">
        <xs:sequence>
          <xs:element name="argument" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CaseFileSolverNotificationDto">
        <xs:sequence>
          <xs:element name="caseFileId" type="xs:long" />
          <xs:element name="notificationText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertBulkRecordResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="bulkId" type="xs:long" />
          <xs:element name="failedCount" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="InsertBulkRecordSuccessItemDto" type="tns:InsertBulkRecordSuccessItemDto" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="InsertBulkRecordErrorItemDto" type="tns:InsertBulkRecordErrorItemDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertBulkRecordSuccessItemDto">
        <xs:sequence>
          <xs:element name="correlationId" type="xs:long" />
          <xs:element name="recordId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertBulkRecordErrorItemDto">
        <xs:sequence>
          <xs:element name="correlationId" type="xs:long" />
          <xs:element name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserAgendaRequestDto">
        <xs:sequence>
          <xs:element name="userId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tenantIds" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorDto">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordDetailRequestDto">
        <xs:sequence>
          <xs:element name="recordId" type="xs:long" />
          <xs:element name="formDataOnly" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetRecordsRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="registryIds" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserAgendaResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAgendaItemDto" type="tns:UserAgendaItemDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserAgendaItemDto">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="count" type="xs:int" />
          <xs:element name="tenantId" type="xs:string" />
          <xs:element minOccurs="0" name="lastCreateDate" type="xs:date" />
          <xs:element name="url" type="xs:string" />
          <xs:element name="moduleId" type="xs:int" />
          <xs:element minOccurs="0" name="aggregationCategory" type="tns:AggregationCategory" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordIdListDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="caseFileId" type="xs:long" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="recordType" type="tns:RecordType" />
          <xs:element minOccurs="0" name="confidentiality" type="tns:RecordConfidentiality" />
          <xs:element minOccurs="0" name="relatedRecordId" type="xs:long" />
          <xs:element name="recordSource" type="tns:RecordSource" />
          <xs:element minOccurs="0" name="registryNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordPartDto" type="tns:RecordPartDto" />
          <xs:element minOccurs="0" name="DecisionsAttributesDto" type="tns:DecisionsAttributesDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DecisionsAttributesDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="appealLimit" type="xs:int" />
          <xs:element minOccurs="0" name="dateIssued" type="xs:date" />
          <xs:element minOccurs="0" name="appealLimitDurationType" type="tns:AppealLimitDurationType" />
          <xs:element minOccurs="0" name="dateEffective" type="xs:date" />
          <xs:element minOccurs="0" name="dateExecutable" type="xs:date" />
          <xs:element minOccurs="0" name="dateCancelled" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DispatchDataEventDto">
        <xs:sequence>
          <xs:element name="recipientId" type="xs:string" />
          <xs:element minOccurs="0" name="dateDelivered" type="xs:date" />
          <xs:element minOccurs="0" name="dateDispatched" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DecisionAttributesEventDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateEffective" type="xs:date" />
          <xs:element minOccurs="0" name="dateExecutable" type="xs:date" />
          <xs:element minOccurs="0" name="dateCancelled" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertInternalDocumentDto">
        <xs:sequence>
          <xs:element name="caseFileId" type="xs:long" />
          <xs:element minOccurs="0" name="confidentiality" type="tns:RecordConfidentiality" />
          <xs:element name="recordType" type="tns:RecordType" />
          <xs:element minOccurs="0" name="relatedRecordId" type="xs:long" />
          <xs:element name="subject" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="InsertRecordPartDto" type="tns:InsertRecordPartDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordShortDtoList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordShortDto" type="tns:RecordShortDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventDto">
        <xs:sequence>
          <xs:element name="recordId" type="xs:long" />
          <xs:element minOccurs="0" name="DispatchDataEventDto" type="tns:DispatchDataEventDto" />
          <xs:element name="EventType" type="tns:EventType" />
          <xs:element minOccurs="0" name="DecisionAttributesEventDto" type="tns:DecisionAttributesEventDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FileRenumberingDto">
        <xs:sequence>
          <xs:element name="registryFileId" type="xs:long" />
          <xs:element minOccurs="0" name="newRegistryFileId" type="xs:long" />
          <xs:element name="newFileNumber" type="xs:string" />
          <xs:element minOccurs="0" name="note" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordRenumberingDto" type="tns:RecordRenumberingDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordRenumberingDto">
        <xs:sequence>
          <xs:element name="registryRecordId" type="xs:long" />
          <xs:element name="newRegistryRecordId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecordBulkDto">
        <xs:sequence>
          <xs:element name="recordBulkId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotifyRecordRelatedEventResponseDto">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="EventProcessingResultDto" type="tns:EventProcessingResultDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventProcessingResultDto">
        <xs:sequence>
          <xs:element name="recordId" type="xs:long" />
          <xs:element name="success" type="xs:boolean" />
          <xs:element name="EventType" type="tns:EventType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotifyRecordRelatedEventDto">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="EventDto" type="tns:EventDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsertBulkRecordDtoList">
        <xs:sequence>
          <xs:element minOccurs="0" name="bulkId" type="xs:long" />
          <xs:element minOccurs="0" name="caseFileName" type="xs:string" />
          <xs:element name="approverId" type="xs:string" />
          <xs:element name="isFinal" type="xs:boolean" />
          <xs:element name="authorId" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="InsertBulkRecordDto" type="tns:InsertBulkRecordDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ERegistryException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationError" type="tns:ValidationError" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDCOMIdRequestDto">
        <xs:sequence>
          <xs:element name="registryId" type="xs:long" />
          <xs:element name="objectType" type="tns:ObjectType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DispatchRecipientDto">
        <xs:sequence>
          <xs:element name="recipientId" type="xs:string" />
          <xs:element name="messageId" type="xs:long" />
          <xs:element minOccurs="0" name="recipientBusinessReference" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCaseFilesRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="registryIds" type="xs:long" />
          <xs:element minOccurs="0" name="includeRecords" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DispatchDto">
        <xs:sequence>
          <xs:element name="subject" type="xs:string" />
          <xs:element name="dispatchId" type="xs:long" />
          <xs:element name="senderId" type="xs:string" />
          <xs:element minOccurs="0" name="senderBusinessReference" type="xs:string" />
          <xs:element name="requestDeliveryReport" type="xs:boolean" />
          <xs:element maxOccurs="unbounded" name="RecordPartDto" type="tns:RecordPartDto" />
          <xs:element maxOccurs="unbounded" name="DispatchRecipientDto" type="tns:DispatchRecipientDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FileRenumberingDtoList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="FileRenumberingDto" type="tns:FileRenumberingDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FileRenumberingResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SuccessDto" type="tns:SuccessDto" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorDto" type="tns:ErrorDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetRecordsResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="records" nillable="true" type="tns:Record" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCaseFilesResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="caseFiles" nillable="true" type="tns:CaseFile" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DeliveryType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="UPVSbezDorucenky" />
          <xs:enumeration value="UPVSsDorucenkou" />
          <xs:enumeration value="ListinneBezDorucenky" />
          <xs:enumeration value="ListinneSdorucenkou" />
          <xs:enumeration value="PodanieSObsluhou" />
          <xs:enumeration value="Email" />
          <xs:enumeration value="Telefonicky" />
          <xs:enumeration value="SMS" />
          <xs:enumeration value="Ine" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SubmissionChannel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ListinneSDorucenkou" />
          <xs:enumeration value="ListinneBezDorucenky" />
          <xs:enumeration value="PodanieSObsluhou" />
          <xs:enumeration value="DodatocneZaradeniePodania" />
          <xs:enumeration value="Email" />
          <xs:enumeration value="Telefonicky" />
          <xs:enumeration value="SMS" />
          <xs:enumeration value="Ine" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MessagePartClass">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ATTACHMENT" />
          <xs:enumeration value="FORM" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Encoding">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Base64" />
          <xs:enumeration value="XML" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RecordConfidentiality">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Doverne" />
          <xs:enumeration value="Pristupne" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RecordType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="RozhodnutieMeritorne" />
          <xs:enumeration value="RozhodnutieOPreruseni" />
          <xs:enumeration value="RozhodnutieOZastaveni" />
          <xs:enumeration value="RozhodnutieIne" />
          <xs:enumeration value="Oznamenie" />
          <xs:enumeration value="Ine" />
          <xs:enumeration value="Podanie_NovyPodnet" />
          <xs:enumeration value="Odvolanie" />
          <xs:enumeration value="DoplneniePodania" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RecordSource">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Prijaty" />
          <xs:enumeration value="Vytvoreny" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RecordStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Draft" />
          <xs:enumeration value="Final" />
          <xs:enumeration value="InApproval" />
          <xs:enumeration value="InRegistration" />
          <xs:enumeration value="Rejected" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RecordPartClass">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ATTACHMENT" />
          <xs:enumeration value="FORM" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DeliveryTypeOutbound">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ListinneBezDorucenky" />
          <xs:enumeration value="ListinneSDorucenkou" />
          <xs:enumeration value="OsobnePrevzatie" />
          <xs:enumeration value="UPVSsDorucenkou" />
          <xs:enumeration value="UPVSbezDorucenky" />
          <xs:enumeration value="VerejnaVyhlaska" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DispatchStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CakaNaOdoslanie" />
          <xs:enumeration value="Dorucene" />
          <xs:enumeration value="DorucenieZlyhalo" />
          <xs:enumeration value="Nedorucene" />
          <xs:enumeration value="Odoslane" />
          <xs:enumeration value="Overovanie" />
          <xs:enumeration value="Zrusene" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="FileStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Otvoreny" />
          <xs:enumeration value="Postupeny" />
          <xs:enumeration value="Uzavrety" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="AppealLimitDurationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="KalendarneDni" />
          <xs:enumeration value="Mesiace" />
          <xs:enumeration value="PracovneDni" />
          <xs:enumeration value="Roky" />
          <xs:enumeration value="Tyzdne" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MessageClass">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELIVERY_REPORT" />
          <xs:enumeration value="EGOV_DOCUMENT" />
          <xs:enumeration value="OTHER" />
          <xs:enumeration value="SIGN_VERIFY_RESULT" />
          <xs:enumeration value="OTHER_TECHNICAL" />
          <xs:enumeration value="INFO" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ValidationErrorType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="APPROVAL_DATE_NOT_SET" />
          <xs:enumeration value="APPROVER_ID_NOT_SET" />
          <xs:enumeration value="ASSIGN_CASE_FILE_DISPATCH_ATTEMPT_INVALID" />
          <xs:enumeration value="CANNOT_GET_PROCESS_INSTANCE_VARIABLES" />
          <xs:enumeration value="CANNOT_REASSIGN" />
          <xs:enumeration value="CANNOT_SEND_MESSAGE_END_NOTIFICATION" />
          <xs:enumeration value="CANNOT_SUBMIT_USER_FORM" />
          <xs:enumeration value="CANNOT_TRANSFORM_XML_RECORD_PART_TO_HTML" />
          <xs:enumeration value="CASE_FILE_ISO_REGISTRY_ID_NOT_SET" />
          <xs:enumeration value="CASE_FILE_REGISTRY_MARK_NOT_SET" />
          <xs:enumeration value="CASE_FILE_REGISTRY_NUMBER_NOT_SET" />
          <xs:enumeration value="RECORD_BULK_NOT_CONSISTENT" />
          <xs:enumeration value="RECORD_BULK_NOT_FOUND" />
          <xs:enumeration value="RECORD_DISPATCH_NOT_FOUND" />
          <xs:enumeration value="REQUIRED_PARAMETERS_MISSING" />
          <xs:enumeration value="UNABLE_TO_CALL_ISO_REGISTRY" />
          <xs:enumeration value="UNABLE_TO_GET_REGISTRY_MARKS" />
          <xs:enumeration value="UNABLE_TO_IDENTIFY_ISO_REGISTRY" />
          <xs:enumeration value="UNABLE_TO_NOTIFY_SPECIFIC_MODULE" />
          <xs:enumeration value="UNABLE_TO_REGISTER_RECORDS" />
          <xs:enumeration value="UNABLE_TO_SEND_MESSAGE_TO_UPVS" />
          <xs:enumeration value="ASSIGN_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="ASSIGN_CASE_FILE_RECORD_INVALID" />
          <xs:enumeration value="CONCURRENT_MODIFICATION" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_APPEAL_LIMIT_DURATION_TYPE_INVALID" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_APPEAL_LIMIT_INVALID" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_CASE_FILE_INVALID" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_CASE_FILE_MISSING" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_DATE_ISSUED_IN_FUTURE" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_DATE_ISSUED_MISSING" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_DECISION_ATTRIBUTES_INVALID" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_DECISION_ATTRIBUTES_MISSING" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_FILE_REGISTRY_MARK_MISSING" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_FORM_INVALID" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_MAIN_FORM_ID_MISSING" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_MAIN_FORM_INVALID" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_RECORD_IN_FILE" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_RECORD_PART_INVALID" />
          <xs:enumeration value="DELETE_RECORD_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="DELETE_RECORD_DISPATCH_EXISTS" />
          <xs:enumeration value="DELETE_RECORD_NO_AUTHORITY" />
          <xs:enumeration value="DELETE_RECORD_NOT_CREATED" />
          <xs:enumeration value="DELETE_RECORD_STATUS_INVALID" />
          <xs:enumeration value="INTERNAL_NOTE_RECORD_OR_CASE_FILE" />
          <xs:enumeration value="MISSING_CASE_FILE_NUMBER" />
          <xs:enumeration value="MISSING_NOTE" />
          <xs:enumeration value="MISSING_TRANSFER_DIRECTION" />
          <xs:enumeration value="NOT_EDITABLE_RECORD" />
          <xs:enumeration value="NOT_FOUND" />
          <xs:enumeration value="NOT_FOUND_CASE_FILE" />
          <xs:enumeration value="NOT_FOUND_DURATION_TYPE" />
          <xs:enumeration value="NOT_FOUND_NOTE" />
          <xs:enumeration value="NOT_FOUND_RECORD" />
          <xs:enumeration value="NOT_FOUND_RECORD_TYPE" />
          <xs:enumeration value="NOT_FOUND_USER" />
          <xs:enumeration value="NOT_OPEN_CASE_FILE" />
          <xs:enumeration value="OTHER" />
          <xs:enumeration value="REASSIGN_RECORD_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="REASSIGN_RECORD_FILE_SOLVER_INVALID" />
          <xs:enumeration value="REASSIGN_RECORD_NO_AUTHORITY" />
          <xs:enumeration value="REASSIGN_RECORD_STATUS_INVALID" />
          <xs:enumeration value="RECEIVE_CASE_FILE_STATUS_INVALID" />
          <xs:enumeration value="REGISTRY_FILE_ID_EXISTS" />
          <xs:enumeration value="REQUIRED" />
          <xs:enumeration value="TRANSFER_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="TRANSFER_DESTINATION_FILE_SOLVER_INVALID" />
          <xs:enumeration value="TRANSFER_NOT_UNIQUE_PODANIE" />
          <xs:enumeration value="TRANSFER_PROCEEDING_INVALID" />
          <xs:enumeration value="TRANSFER_RECORD_INVALID_STATUS" />
          <xs:enumeration value="TRANSFER_SOURCE_FILE_SOLVER_INVALID" />
          <xs:enumeration value="UNAUTHORIZED_ACCESS" />
          <xs:enumeration value="UPDATE_CASE_FILE_FILE_SOLVER_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="UPDATE_CASE_FILE_FILE_STATUS_CAN_NOT_ASSIGN" />
          <xs:enumeration value="UPDATE_CASE_FILE_FILE_STATUS_DISPATCH_ATTEMPT_INVALID" />
          <xs:enumeration value="UPDATE_CASE_FILE_FILE_STATUS_INVALID" />
          <xs:enumeration value="UPDATE_CASE_FILE_FILE_STATUS_PROCEEDING_INVALID" />
          <xs:enumeration value="UPDATE_CASE_FILE_FILE_STATUS_RECORD_INVALID" />
          <xs:enumeration value="UPDATE_DECISION_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="UPDATE_DECISION_DATE_IN_FUTURE" />
          <xs:enumeration value="UPDATE_DECISION_DATE_ISSUED_AFTER" />
          <xs:enumeration value="UPDATE_DECISION_DATE_ISSUED_REQUIRED" />
          <xs:enumeration value="UPDATE_DECISION_INVALID_APPEAL_LIMIT" />
          <xs:enumeration value="UPDATE_DECISION_INVALID_CANCELLED" />
          <xs:enumeration value="UPDATE_DECISION_NEGATIVE_APPEAL_LIMIT" />
          <xs:enumeration value="UPDATE_DECISION_STATUS_NOT_FINAL" />
          <xs:enumeration value="UPDATE_DECISION_TYPE_NOT_DECISION" />
          <xs:enumeration value="UPDATE_DISPATCH_DATE_IN_FUTURE" />
          <xs:enumeration value="UPDATE_DISPATCH_DATE_MUST_BE_NULL" />
          <xs:enumeration value="UPDATE_DISPATCH_DATE_REQUIRED" />
          <xs:enumeration value="UPDATE_DISPATCH_DELIVERY_DATE_INCONSISTENT" />
          <xs:enumeration value="UPDATE_DISPATCH_INVALID_STATUS" />
          <xs:enumeration value="UPDATE_RECORD_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="UPDATE_RECORD_INVALID_TYPE" />
          <xs:enumeration value="UPDATE_RECORD_TYPE_NOT_CHANGEABLE" />
          <xs:enumeration value="CASE_FILE_NUMBER_NOT_UNIQUE" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_MUST_BE_CREATED" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_DECISION_DATE_NOT_ALLOWED" />
          <xs:enumeration value="CREATE_OR_UPDATE_RECORD_APPROVED_DATE_NOT_ALLOWED" />
          <xs:enumeration value="PROCEEDING_ROLE_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="PROCEEDING_ROLE_CASE_PARTY_ALREADY_SET" />
          <xs:enumeration value="PROCEEDING_STATE_BASED_ON_RECORD_VIOLATION" />
          <xs:enumeration value="PROCEEDING_STATE_CASE_FILE_NOT_OPEN" />
          <xs:enumeration value="PROCEEDING_STATE_DATE_FROM_CHANGE_NOT_PERMITTED" />
          <xs:enumeration value="PROCEEDING_STATE_DATE_FROM_GREATER_THEN_DATE_TO" />
          <xs:enumeration value="PROCEEDING_STATE_DATE_FROM_IN_CONFLICT_WITH_PREVIOUS_STATE" />
          <xs:enumeration value="PROCEEDING_STATE_DATE_FROM_IN_FUTURE" />
          <xs:enumeration value="PROCEEDING_STATE_TRANSITION_ERROR" />
          <xs:enumeration value="DELIVERY_REPORT_PROCESS_FAILED" />
          <xs:enumeration value="DELIVERY_REPORT_MESSAGE_ID_NOT_FOUND" />
          <xs:enumeration value="PROCESS_MESSAGE_TOO_MANY_FORMS" />
          <xs:enumeration value="RECORD_NUMBER_NOT_UNIQUE" />
          <xs:enumeration value="DMS_NOT_AVAILABLE" />
          <xs:enumeration value="RECORD_PART_MISSING" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="AggregationCategory">
        <xs:restriction base="xs:string">
          <xs:enumeration value="incorrectSubmission" />
          <xs:enumeration value="userAgenda" />
          <xs:enumeration value="nonProcessedSubmission" />
          <xs:enumeration value="openRecords" />
          <xs:enumeration value="processedSubmission" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EventType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DecisionAttributesChange" />
          <xs:enumeration value="DispatchDataChange" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ObjectType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CaseFile" />
          <xs:enumeration value="Record" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="dcomFault" nillable="true" type="tns:DcomFault" />
      <xs:element name="getSubmissionsRequestDto" nillable="true" type="tns:GetSubmissionsRequestDto" />
      <xs:element name="getSubmissionsResponseDto" nillable="true" type="tns:GetSubmissionsResponseDto" />
      <xs:element name="createSubmissionDto" nillable="true" type="tns:CreateSubmissionDto" />
      <xs:element name="recordId" nillable="true" type="xs:long" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getSubmissions">
    <wsdl:part name="getSubmissionsRequestDto" element="tns:getSubmissionsRequestDto" />
  </wsdl:message>
  <wsdl:message name="DcomFaultException">
    <wsdl:part name="DcomFaultException" element="tns:dcomFault" />
  </wsdl:message>
  <wsdl:message name="createSubmissionResponse">
    <wsdl:part name="recordId" element="tns:recordId" />
  </wsdl:message>
  <wsdl:message name="createSubmission">
    <wsdl:part name="createSubmissionDto" element="tns:createSubmissionDto" />
  </wsdl:message>
  <wsdl:message name="getSubmissionsResponse">
    <wsdl:part name="getSubmissionsResponseDto" element="tns:getSubmissionsResponseDto" />
  </wsdl:message>
  <wsdl:portType name="SubmissionServices">
    <wsdl:operation name="getSubmissions">
      <wsdl:input name="getSubmissions" message="tns:getSubmissions" />
      <wsdl:output name="getSubmissionsResponse" message="tns:getSubmissionsResponse" />
      <wsdl:fault name="DcomFaultException" message="tns:DcomFaultException" />
    </wsdl:operation>
    <wsdl:operation name="createSubmission">
      <wsdl:input name="createSubmission" message="tns:createSubmission" />
      <wsdl:output name="createSubmissionResponse" message="tns:createSubmissionResponse" />
      <wsdl:fault name="DcomFaultException" message="tns:DcomFaultException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubmissionServicesSoapBinding" type="tns:SubmissionServices">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#WS2007FederationHttpBinding_IService_policy" />
    <wsdl:operation name="getSubmissions">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input name="getSubmissions">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSubmissionsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DcomFaultException">
        <soap12:fault use="literal" name="DcomFaultException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSubmission">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document" />
      <wsdl:input name="createSubmission">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createSubmissionResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DcomFaultException">
        <soap12:fault use="literal" name="DcomFaultException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubmissionServices">
    <wsdl:port name="SubmissionServicesPort" binding="tns:SubmissionServicesSoapBinding">
      <soap12:address location="https://st1soa01.test.dcom.sk:8443/soa/epodatelna/submission/1.0/submissionServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>