Core/WebEas.Services.Esb/Service References/Kn/knservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://schemas.dcom.sk/private/integration/KNGateway/KNGWServices/1.0" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="KNGWService" targetNamespace="http://schemas.dcom.sk/private/integration/KNGateway/KNGWServices/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="WS2007FederationHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1
                            </t:TokenType>
                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                <t:KeySize>256</t:KeySize>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
              <sp:Issuer>
                <wsaws:Address>
                                https://lbsts.intra.dcom.sk:49443/adfs/services/trust/13/certificatetransport
                            </wsaws:Address>
                <wsaws:Metadata xmlns:wsdli="http://www.w3.org/2006/01/wsdl-instance" wsdli:wsdlLocation="http://lbsts.intra.dcom.sk/adfs/services/trust/mex">
                  <wsaw:ServiceName xmlns:stsns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" EndpointName="CertificateWSTrustBinding_IWSTrust13Async2">
                                    stsns:SecurityTokenService
                                </wsaw:ServiceName>
                </wsaws:Metadata>
              </sp:Issuer>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.dcom.sk/private/integration/KNGateway/KNGWServices/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="importObceAKUReq" type="tns:ImportObceAKUType" />
      <xs:element name="importObceAKUResp" type="tns:ResponseType" />
      <xs:element name="lvReq" type="tns:LVReqType" />
      <xs:element name="lvResp" type="tns:LVRespType" />
      <xs:element name="manualneSparovaneOsobyReq" type="tns:SparovaneOsobyReqType" />
      <xs:element name="manualneSparovaneOsobyResp" type="tns:SparovaneOsobyRespType" />
      <xs:element name="stiahniLvReq" type="tns:StiahniLVReqType" />
      <xs:element name="stiahniLvResp" type="tns:StiahniLVRespType" />
      <xs:element name="updateParovanieReq" type="tns:UpdatovacieParovacieProcesyType" />
      <xs:complexType name="SparovaneOsobyReqType">
        <xs:sequence>
          <xs:element form="qualified" name="sparovaneOsobyList" type="tns:SparovaneOsobyReqListType" />
          <xs:element form="qualified" name="sparoval" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SparovaneOsobyReqListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="sparovanaOsoba" type="tns:ParReqType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParReqType">
        <xs:sequence>
          <xs:element form="qualified" name="ID_KN" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ID_DCOM" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SparovaneOsobyRespType">
        <xs:sequence>
          <xs:element form="qualified" name="sparovaneOsobyRespList" type="tns:SparovaneOsobyRespListType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SparovaneOsobyRespListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="sparovanaOsobaResp" type="tns:ParRespType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParRespType">
        <xs:sequence>
          <xs:element form="qualified" name="ID_KN" type="xs:string" />
          <xs:element form="qualified" name="ID_DCOM" type="xs:string" />
          <xs:element form="qualified" name="Kod" type="xs:string" />
          <xs:element form="qualified" name="Text" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LVReqType">
        <xs:sequence>
          <xs:element form="qualified" name="ku_code" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="cisloLV" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="cisloParcelyC" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="cisloParcelyE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="supisneCislo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StiahniLVReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:LVReqType">
            <xs:sequence>
              <xs:element form="qualified" name="cisloSpisu" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="LVRespType">
        <xs:sequence>
          <xs:element form="qualified" name="LV_URL" type="xs:string" />
          <xs:element form="qualified" name="Kod" type="xs:string" />
          <xs:element form="qualified" name="Text" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StiahniLVRespType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:LVRespType">
            <xs:sequence>
              <xs:element form="qualified" name="cisloDokumentu" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ImportObceAKUType">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="obecFull" type="tns:ObecType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObecType">
        <xs:sequence>
          <xs:element form="qualified" name="nazovOkresu" type="xs:string" />
          <xs:element form="qualified" name="nazovObce" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseType">
        <xs:sequence>
          <xs:element form="qualified" name="Kod" type="xs:string" />
          <xs:element form="qualified" name="Text" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdatovacieParovacieProcesyType">
        <xs:sequence>
          <xs:element form="qualified" name="listObci" type="tns:ListObciType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListObciType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" form="qualified" name="obec" type="tns:ObceUpdateType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObceUpdateType">
        <xs:sequence>
          <xs:element form="qualified" name="kodSUobce" type="xs:string" />
          <xs:element form="qualified" name="update" type="xs:string" />
          <xs:element form="qualified" name="parovanie" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BytType">
        <xs:sequence>
          <xs:element form="qualified" name="house_no" type="xs:string" />
          <xs:element form="qualified" name="entranceLabel" type="xs:string" />
          <xs:element form="qualified" name="floor_no" type="xs:string" />
          <xs:element form="qualified" name="flat_no" type="xs:string" />
          <xs:element form="qualified" name="nonresidential_no" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="zobrazLV">
    <wsdl:part name="Payload" element="tns:lvReq" />
  </wsdl:message>
  <wsdl:message name="importObceAKUResponse">
    <wsdl:part name="Payload" element="tns:importObceAKUResp" />
  </wsdl:message>
  <wsdl:message name="stiahniLV">
    <wsdl:part name="Payload" element="tns:stiahniLvReq" />
  </wsdl:message>
  <wsdl:message name="zobrazLVResponse">
    <wsdl:part name="Payload" element="tns:lvResp" />
  </wsdl:message>
  <wsdl:message name="updatovacieParovacieProcesy">
    <wsdl:part name="Payload" element="tns:updateParovanieReq" />
  </wsdl:message>
  <wsdl:message name="importObceAKU">
    <wsdl:part name="Payload" element="tns:importObceAKUReq" />
  </wsdl:message>
  <wsdl:message name="manualneSparovanieOsobResponse">
    <wsdl:part name="Payload" element="tns:manualneSparovaneOsobyResp" />
  </wsdl:message>
  <wsdl:message name="stiahniLVResponse">
    <wsdl:part name="Payload" element="tns:stiahniLvResp" />
  </wsdl:message>
  <wsdl:message name="manualneSparovanieOsob">
    <wsdl:part name="Payload" element="tns:manualneSparovaneOsobyReq" />
  </wsdl:message>
  <wsdl:portType name="KNGWPortType">
    <wsdl:operation name="manualneSparovanieOsob">
      <wsdl:input name="manualneSparovanieOsob" message="tns:manualneSparovanieOsob" />
      <wsdl:output name="manualneSparovanieOsobResponse" message="tns:manualneSparovanieOsobResponse" />
    </wsdl:operation>
    <wsdl:operation name="zobrazLV">
      <wsdl:input name="zobrazLV" message="tns:zobrazLV" />
      <wsdl:output name="zobrazLVResponse" message="tns:zobrazLVResponse" />
    </wsdl:operation>
    <wsdl:operation name="importObceAKU">
      <wsdl:input name="importObceAKU" message="tns:importObceAKU" />
      <wsdl:output name="importObceAKUResponse" message="tns:importObceAKUResponse" />
    </wsdl:operation>
    <wsdl:operation name="stiahniLV">
      <wsdl:input name="stiahniLV" message="tns:stiahniLV" />
      <wsdl:output name="stiahniLVResponse" message="tns:stiahniLVResponse" />
    </wsdl:operation>
    <wsdl:operation name="updatovacieParovacieProcesy">
      <wsdl:input name="updatovacieParovacieProcesy" message="tns:updatovacieParovacieProcesy" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KNGWServiceSoapBinding" type="tns:KNGWPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#WS2007FederationHttpBinding_IService_policy" />
    <wsdl:operation name="manualneSparovanieOsob">
      <soap12:operation soapAction="http://schemas.dcom.sk/private/integration/KNGateway/KNGWServices/1.0/manualneSparovanieOsob" style="document" />
      <wsdl:input name="manualneSparovanieOsob">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="manualneSparovanieOsobResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importObceAKU">
      <soap12:operation soapAction="http://schemas.dcom.sk/private/integration/KNGateway/KNGWServices/1.0/importObceAKU" style="document" />
      <wsdl:input name="importObceAKU">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="importObceAKUResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zobrazLV">
      <soap12:operation soapAction="http://schemas.dcom.sk/private/integration/KNGateway/KNGWServices/1.0/zobrazLV" style="document" />
      <wsdl:input name="zobrazLV">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="zobrazLVResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stiahniLV">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="stiahniLV">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="stiahniLVResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatovacieParovacieProcesy">
      <soap12:operation soapAction="http://schemas.dcom.sk/private/integration/KNGateway/KNGWServices/1.0/updatovacieParovacieProcesy" style="document" />
      <wsdl:input name="updatovacieParovacieProcesy">
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KNGWService">
    <wsdl:port name="KNGWServicePort" binding="tns:KNGWServiceSoapBinding">
      <soap12:address location="https://lbsoa.intra.dcom.sk/soa/kn/1.0/knservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>