Core/WebEas.Services.Esb/Service References/Sp/DCOM-Gateway-SP_v1_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="http://schemas.dcom.sk/fault/1.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:st="http://schemas.dcom.sk/soa/claims/public/1.0" xmlns:sp="http://schemas.dcom.sk/integration/sp/1.0" xmlns:sp_="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DCOM-Gateway-SP_v1_0" targetNamespace="http://schemas.dcom.sk/integration/sp/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="WS2007FederationHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1
                            </t:TokenType>
                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                <t:KeySize>256</t:KeySize>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
              <sp:Issuer>
                <wsaws:Address>
                                https://lbsts.intra.dcom.sk:49443/adfs/services/trust/13/certificatetransport
                            </wsaws:Address>
                <wsaws:Metadata xmlns:wsdli="http://www.w3.org/2006/01/wsdl-instance" wsdli:wsdlLocation="http://lbsts.intra.dcom.sk/adfs/services/trust/mex">
                  <wsaw:ServiceName xmlns:stsns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" EndpointName="CertificateWSTrustBinding_IWSTrust13Async2">
                                    stsns:SecurityTokenService
                                </wsaw:ServiceName>
                </wsaws:Metadata>
              </sp:Issuer>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="https://lbsoa.intra.dcom.sk/soa/sp/1.0/spService?xsd=DCOM-Gateway-SP_v1_0.xsd" namespace="http://schemas.dcom.sk/integration/sp/1.0" />
      <xs:import schemaLocation="https://lbsoa.intra.dcom.sk/soa/sp/1.0/spService?xsd=DCOM-Fault_v1_0.xsd" namespace="http://schemas.dcom.sk/fault/1.0" />
      <xs:import schemaLocation="https://lbsoa.intra.dcom.sk/soa/sp/1.0/spService?xsd=DCOM-SOA-Claims-Public_v1_0.xsd" namespace="http://schemas.dcom.sk/soa/claims/public/1.0" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ReqCheckEmploymentStatusMsg">
    <wsdl:part name="RequestParams" element="sp:CheckEmploymentStatusReq" />
  </wsdl:message>
  <wsdl:message name="ResGetBenefitInfoMsg">
    <wsdl:part name="ResponseParams" element="sp:GetBenefitInfoRes" />
  </wsdl:message>
  <wsdl:message name="ResCheckEmploymentStatusMsg">
    <wsdl:part name="ResponseParams" element="sp:CheckEmploymentStatusRes" />
  </wsdl:message>
  <wsdl:message name="DcomFaultMessage">
    <wsdl:part name="ResponseError" element="fault:DcomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ReqGetBenefitInfoMsg">
    <wsdl:part name="RequestParams" element="sp:GetBenefitInfoReq" />
  </wsdl:message>
  <wsdl:portType name="SPGateway">
    <wsdl:operation name="GetBenefitInfo">
      <wsdl:input name="getBenefitInfoReq" message="sp:ReqGetBenefitInfoMsg" />
      <wsdl:output name="getBenefitInfoRes" message="sp:ResGetBenefitInfoMsg" />
      <wsdl:fault name="dcomFault" message="sp:DcomFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmploymentStatus">
      <wsdl:input name="checkEmploymentStatusReq" message="sp:ReqCheckEmploymentStatusMsg" />
      <wsdl:output name="checkEmploymentStatusRes" message="sp:ResCheckEmploymentStatusMsg" />
      <wsdl:fault name="dcomFault" message="sp:DcomFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPGatewayBinding" type="sp:SPGateway">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#WS2007FederationHttpBinding_IService_policy" />
    <wsdl:operation name="GetBenefitInfo">
      <soap:operation soapAction="GetBenefitInfo" style="document" />
      <wsdl:input name="getBenefitInfoReq">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getBenefitInfoRes">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="dcomFault">
        <soap:fault use="literal" name="dcomFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckEmploymentStatus">
      <soap:operation soapAction="CheckEmploymentStatus" style="document" />
      <wsdl:input name="checkEmploymentStatusReq">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkEmploymentStatusRes">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="dcomFault">
        <soap:fault use="literal" name="dcomFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPGatewayService">
    <wsdl:port name="SPGateway" binding="sp:SPGatewayBinding">
      <soap:address location="https://lbsoa.intra.dcom.sk/soa/sp/1.0/spService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>