Core/WebEas.Services.Esb/Service References/Sp/spService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sp="http://schemas.dcom.sk/integration/sp/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/integration/sp/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Dcom_WS1 - Overenie údajov o dávkach</xs:documentation>
  </xs:annotation>
  <xs:element name="GetBenefitInfoRequest" type="sp:GetBenefitInfoRequest" />
  <xs:complexType name="GetBenefitInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DcomID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Jedinečný identifikátor FO v IS DCOM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikátor spisu (číslo spisu)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ClaimFrom" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dátum začiatku požadovaného obdobia. Pre typPoist-DP bude možné zadávať dátum až od 2015-01-01</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaimTo" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dátum ukončenia požadovaného obdobia. V prípade neuvedenia sa berie aktuálny dátum</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceTypeRequired" type="sp:InsuranceTypeRequiredType">
        <xs:annotation>
          <xs:documentation>Obmedzenie na zoznam požadovaných typov dávok z príslušného typu poistenia. Ak nie je uvedený žiadny element, tak sú požadované všetky dávky zo všetkých dávkových IS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBenefitInfoResponse" type="sp:GetBenefitInfoResponse" />
  <xs:complexType name="GetBenefitInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RecordID" type="xs:long">
        <xs:annotation>
          <xs:documentation>Číslo záznamu v epodateľni</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="OutputData" type="sp:BenefitInfoType" />
      <xs:element minOccurs="1" maxOccurs="1" name="InputData" type="sp:BenefitInfoReqType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PersonalIDType">
    <xs:annotation>
      <xs:documentation>Rodné číslo</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InsuranceTypeRequiredType" type="sp:InsuranceTypeRequiredType" />
  <xs:complexType name="InsuranceTypeRequiredType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenefitType" type="sp:BenefitTypeType">
        <xs:annotation>
          <xs:documentation>Pozadovaný typ dávky z príslušného typu poistenia.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="InsuranceType" type="sp:InsuranceTypeType" use="required">
      <xs:annotation>
        <xs:documentation>Kód požadovaného typu poistenia: "NP", "PvN", "UP", "DP"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="InsuranceTypeType">
    <xs:union memberTypes="sp:InsuranceType_DPType sp:InsuranceType_NPPvNUPType" />
  </xs:simpleType>
  <xs:simpleType name="InsuranceType_DPType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InsuranceType_NPPvNUPType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NP" />
      <xs:enumeration value="PvN" />
      <xs:enumeration value="UP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BenefitTypeType">
    <xs:annotation>
      <xs:documentation>Typ dávky - označenie typu dávky: 
			Nemocenské poistenie (NP): NEM, MAT, OCR, VYR ...
			Dôchodkové poistenie (DP): SD, PSD, ID, VD, DD, DM, SOC, URD ...
			Úrazové poistenie (UP): UR, PUR, Upr, JV, JO, Rh, Rk, B, SSU, NNL, NNP ...
			Poistenie v nezamestnanosti (PvN): DPvN ...</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BenefitInfoReqType" type="sp:BenefitInfoReqType" />
  <xs:complexType name="BenefitInfoReqType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateFrom" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dátum začiatku požadovaného obdobia. Pre typPoist-DP bude možné zadávať dátum až od 2015-01-01</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DateTo" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dátum ukončenia požadovaného obdobia. V prípade neuvedenia sa berie aktuálny dátum</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PersonalID" type="sp:PersonalIDType">
        <xs:annotation>
          <xs:documentation>Rodné číslo poistenca</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceTypeRequired" type="sp:InsuranceTypeRequiredType">
        <xs:annotation>
          <xs:documentation>Obmedzenie na zoznam požadovaných typov dávok z príslušného typu poistenia. Ak nie je uvedený žiadny element, tak sú požadované všetky dávky zo všetkých dávkových IS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenefitInfoType" type="sp:BenefitInfoType" />
  <xs:complexType name="BenefitInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BenefitDPItem" type="sp:BenefitDPItemType" />
      <xs:element minOccurs="0" maxOccurs="3" name="BenefitOtherItem" type="sp:BenefitOtherItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenefitOtherItemType" type="sp:BenefitOtherItemType" />
  <xs:complexType name="BenefitOtherItemType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PersonalID" type="sp:PersonalIDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="InsuranceType" type="sp:InsuranceType_NPPvNUPType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="sp:FirstNameType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="sp:LastNameType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenefitPayment" type="sp:BenefitPaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenefitDPItemType" type="sp:BenefitDPItemType" />
  <xs:complexType name="BenefitDPItemType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="InsuranceType" type="sp:InsuranceType_DPType" />
      <xs:element minOccurs="0" maxOccurs="5" name="SinglePaymentsDP" type="sp:SinglePaymentsDPType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonalID" type="sp:PersonalIDType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="sp:FullNameType" />
      <xs:element minOccurs="0" maxOccurs="12" name="MonthlyPaymentsDP" type="sp:MonthlyPaymentsDPType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenefitPaymentType" type="sp:BenefitPaymentType" />
  <xs:complexType name="BenefitPaymentType">
    <xs:annotation>
      <xs:documentation>Údaje o vyplácaných / vyplatených dávkach z NP, PvN, UP</xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="DateFrom" type="xs:date" use="required" />
    <xs:attribute name="DateTo" type="xs:date" use="optional" />
    <xs:attribute name="Sum" type="sp:SumType" use="required" />
    <xs:attribute name="Currency" type="sp:CurrencyType" use="required" />
    <xs:attribute name="BenefitType" type="sp:BenefitTypeType" use="required" />
  </xs:complexType>
  <xs:simpleType name="LastNameType">
    <xs:annotation>
      <xs:documentation>Priezvisko FO</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="36" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FirstNameType">
    <xs:annotation>
      <xs:documentation>Meno FO</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FullNameType">
    <xs:annotation>
      <xs:documentation>Priezvisko a meno poberateľa dôchodkovej dávky</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="36" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MonthlyPaymentsDPType" type="sp:MonthlyPaymentsDPType" />
  <xs:complexType name="MonthlyPaymentsDPType">
    <xs:annotation>
      <xs:documentation>Údaje o mesačných platbách</xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="Periods" type="sp:PeriodsType" use="required">
      <xs:annotation>
        <xs:documentation>Obdobie v tvare MMRRRR</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PensionType2" type="sp:PensionBackpayTypeType" use="optional">
      <xs:annotation>
        <xs:documentation>Druh dôchodku</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PensionSum2" type="sp:SumType" use="optional">
      <xs:annotation>
        <xs:documentation>Suma dôchodku decimal 8.2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PensionSum1" type="sp:SumType" use="required">
      <xs:annotation>
        <xs:documentation>Suma dôchodku decimal 8.2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PensionType1" type="sp:PensionBackpayTypeType" use="required">
      <xs:annotation>
        <xs:documentation>Druh dôchodku</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="SinglePaymentsDPType" type="sp:SinglePaymentsDPType" />
  <xs:complexType name="SinglePaymentsDPType">
    <xs:annotation>
      <xs:documentation>Údaje o jednorázových platbách</xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="BackpayRealDate" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation>Dátum realizácie</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BackpayFromDate" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation>Doplatok za obdobie od v tvare RRRR-MM-DD</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BackpayToDate" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation>Doplatok za obdobie do v tvare RRRR-MM-DD</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BackpaySum" type="sp:SumType" use="required">
      <xs:annotation>
        <xs:documentation>Suma doplatku</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BackpayType" type="sp:PensionBackpayTypeType" use="required">
      <xs:annotation>
        <xs:documentation>Druh doplatku</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="PeriodsType">
    <xs:annotation>
      <xs:documentation>Obdobie v tvare MMRRRR</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|1[0-2])2[0-9]{3}" />
      <xs:length value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SumType">
    <xs:annotation>
      <xs:documentation>Suma - decimal 8.2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PensionBackpayTypeType">
    <xs:annotation>
      <xs:documentation>Druh dôchodku/doplatku:
			SD	starobný
			PSD	predčasný starobný
			ID	invalidný
			VD	vdovský/vdovecký
			DD	sirotský
			DM	dôchodok manželky
			SOC	sociálny dôchodok
			URD	úrazový dôchodok</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyType">
    <xs:annotation>
      <xs:documentation>Mena</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CheckEmploymentStatusRequest" type="sp:CheckEmploymentStatusRequest" />
  <xs:complexType name="CheckEmploymentStatusRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DcomID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Jedinečný identifikátor FO v IS DCOM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikátor spisu (číslo spisu)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DateOfInterest" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dátum ku ktorému sa vyhodnocuje zamestnanie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OrganizationID" type="sp:OrganizationIDType">
        <xs:annotation>
          <xs:documentation>IČO zamestnávateľa, ak nie je uvedený žiadny element, tak sú overované zamestnania u ľubovoľného zamestnávateľa</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckEmploymentStatusResponse" type="sp:CheckEmploymentStatusResponse" />
  <xs:complexType name="CheckEmploymentStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RecordID" type="xs:long">
        <xs:annotation>
          <xs:documentation>Číslo záznamu v epodateľni</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="OutputData" type="sp:EmploymentStatusType" />
      <xs:element minOccurs="1" maxOccurs="1" name="InputData" type="sp:EmploymentStatusReqType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrganizationIDType">
    <xs:annotation>
      <xs:documentation>IČO (identifikačné číslo organizácie)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}" />
      <xs:length value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmploymentStatusReqType" type="sp:EmploymentStatusReqType" />
  <xs:complexType name="EmploymentStatusReqType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateOfInterest" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dátum ku ktorému sa vyhodnocuje zamestnanie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PersonalID" type="sp:PersonalIDType">
        <xs:annotation>
          <xs:documentation>Rodné číslo poistenca</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OrganizationID" type="sp:OrganizationIDType">
        <xs:annotation>
          <xs:documentation>IČO zamestnávateľa, ak nie je uvedený žiadny element, tak sú overované zamestnania u ľubovoľného zamestnávateľa</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmploymentStatusType" type="sp:EmploymentStatusType" />
  <xs:complexType name="EmploymentStatusType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EmploymentsItem" type="sp:EmploymentsItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmploymentsItemType" type="sp:EmploymentsItemType" />
  <xs:complexType name="EmploymentsItemType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FirstName" type="sp:FirstNameType" />
      <xs:element minOccurs="1" maxOccurs="1" name="EmploymentState" type="sp:EmploymentStateType" />
      <xs:element minOccurs="0" maxOccurs="1" name="SuspensionReason" type="sp:SuspensionReasonType" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastName" type="sp:LastNameType" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonalID" type="sp:PersonalIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EmploymentStateType">
    <xs:annotation>
      <xs:documentation>Vyhodnotenie zamestnania: A – je zamestnaný k danému dátumu, N – nie je zamestnaný k danému dátumu</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SuspensionReasonType">
    <xs:annotation>
      <xs:documentation>Kód dôvodu prerušenia</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetBenefitInfoReq" type="sp:GetBenefitInfoRequest" />
  <xs:element name="GetBenefitInfoRes" type="sp:GetBenefitInfoResponse" />
  <xs:element name="CheckEmploymentStatusReq" type="sp:CheckEmploymentStatusRequest" />
  <xs:element name="CheckEmploymentStatusRes" type="sp:CheckEmploymentStatusResponse" />
</xs:schema>