Core/WebEas.Services.Esb/Service References/MepService/mepGwServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/soa/claims/public/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserID" type="xs:string" />
  <xs:element name="TenantID" type="xs:string" />
  <xs:element name="TechID" type="xs:string" />
  <xs:element name="Actor.DcomID" type="xs:string" />
  <xs:element name="Actor.UpvsID" type="xs:string" />
  <xs:element name="Subject.DcomID" type="xs:string" />
  <xs:element name="Subject.UpvsID" type="xs:string" />
  <xs:element name="DelegationType" type="xs:string" />
  <xs:element name="TechRoles" type="xs:string" />
  <xs:element name="ActorIDSector" type="xs:string" />
  <xs:element name="DMSModuleName" type="xs:string" />
  <xs:element name="UserSessionID" type="xs:string" />
</xs:schema>