Core/WebEas.Services.Esb/Service References/Rsd/rsdService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:rsd="http://schemas.dcom.sk/integration/rsd/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/integration/rsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IdentificationResultType" type="rsd:IdentificationResultType" />
  <xs:simpleType name="IdentificationResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="found" />
      <xs:enumeration value="not_found" />
      <xs:enumeration value="ambiguous" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EnumerationType" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="sk">Abstraktný typ pre položku číselníka</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="xs:string" />
      <xs:element minOccurs="0" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationType" type="rsd:ApplicationType" />
  <xs:complexType name="ApplicationType">
    <xs:sequence>
      <xs:element name="BenefitType" type="rsd:BenefitTypeType" />
      <xs:element name="From" type="xs:date" />
      <xs:element minOccurs="0" name="To" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Claim" type="rsd:ClaimType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewedPerson" type="rsd:ReviewedPersonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimType" type="rsd:ClaimType" />
  <xs:complexType name="ClaimType">
    <xs:annotation>
      <xs:documentation xml:lang="sk">Informácia o nároku na dávku medzi From a To (typicky jeden mesiac), typu (Type), v sume nároku (Amount). Ak bola výplata dávky realizovaná, informácie o výplate sú v prvku Payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="From" type="xs:date" />
      <xs:element name="To" type="xs:date" />
      <xs:element name="Type" type="xs:string" />
      <xs:element name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Payment" type="rsd:PaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentType" type="rsd:PaymentType" />
  <xs:complexType name="PaymentType">
    <xs:annotation>
      <xs:documentation xml:lang="sk">Informácia o vyplatení dávky v sume (Amount), v dátume (Date), na miesto (Place). Amount môže byť (v prípade plnej zrážky) 0.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Amount" type="xs:decimal" />
      <xs:element name="Date" type="xs:date" />
      <xs:element name="Place" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewedPersonType" type="rsd:ReviewedPersonType" />
  <xs:complexType name="ReviewedPersonType">
    <xs:sequence>
      <xs:element name="From" type="xs:date" />
      <xs:element minOccurs="0" name="To" type="xs:date" />
      <xs:element name="Role" type="rsd:ReviewedPersonRoleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenefitTypeType" type="rsd:BenefitTypeType" />
  <xs:complexType name="BenefitTypeType">
    <xs:annotation>
      <xs:documentation xml:lang="sk">Typ žiadosti</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:restriction base="rsd:EnumerationType">
        <xs:sequence>
          <xs:element name="Code">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="DZ-[0-9]{2}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReviewedPersonRoleType" type="rsd:ReviewedPersonRoleType" />
  <xs:complexType name="ReviewedPersonRoleType">
    <xs:annotation>
      <xs:documentation xml:lang="sk">Rola posudzovanej osoby na žiadosti</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:restriction base="rsd:EnumerationType">
        <xs:sequence>
          <xs:element name="Code">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z]{3}[0-9]{2,3}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Name" type="xs:string" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisabilityType" type="rsd:DisabilityType" />
  <xs:complexType name="DisabilityType">
    <xs:sequence>
      <xs:element name="AccompanyingPerson" type="xs:boolean" />
      <xs:element name="DateOfAssessment" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantRequest" type="rsd:ApplicantRequest" />
  <xs:complexType name="ApplicantRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DcomID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string" />
      <xs:element name="ClaimFrom" type="xs:date" />
      <xs:element minOccurs="0" name="ClaimTo" type="xs:date" />
      <xs:element minOccurs="0" name="BenefitType" type="rsd:BenefitTypeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantResponse" type="rsd:ApplicantResponse" />
  <xs:complexType name="ApplicantResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:long">
        <xs:annotation>
          <xs:documentation>Číslo záznamu v epodatelni, vracia sa len v prípade volania v kontexte úradníka, ak bol zadaný vstupný element DossierID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationResult" type="rsd:IdentificationResultType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Application" type="rsd:ApplicationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonDisabilityStatusRequest" type="rsd:GetPersonDisabilityStatusRequest" />
  <xs:complexType name="GetPersonDisabilityStatusRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DcomID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfInterest" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonDisabilityStatusResponse" type="rsd:GetPersonDisabilityStatusResponse" />
  <xs:complexType name="GetPersonDisabilityStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:long">
        <xs:annotation>
          <xs:documentation>Číslo záznamu v epodatelni, vracia sa len v prípade volania v kontexte úradníka, ak bol zadaný vstupný element DossierID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationResult" type="rsd:IdentificationResultType" />
      <xs:element minOccurs="0" name="Disability" type="rsd:DisabilityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFamilyRelatedBenefitsForApplicantReq" type="rsd:ApplicantRequest" />
  <xs:element name="GetFamilyRelatedBenefitsForApplicantRes" type="rsd:ApplicantResponse" />
  <xs:element name="GetHealthDisabilityBenefitsForApplicantReq" type="rsd:ApplicantRequest" />
  <xs:element name="GetHealthDisabilityBenefitsForApplicantRes" type="rsd:ApplicantResponse" />
  <xs:element name="GetMaterialNeedBenefitsForApplicantReq" type="rsd:ApplicantRequest" />
  <xs:element name="GetMaterialNeedBenefitsForApplicantRes" type="rsd:ApplicantResponse" />
  <xs:element name="GetPersonDisabilityStatusReq" type="rsd:GetPersonDisabilityStatusRequest" />
  <xs:element name="GetPersonDisabilityStatusRes" type="rsd:GetPersonDisabilityStatusResponse" />
</xs:schema>