Core/WebEas.Services.Esb/Service References/IsoGw/RegisterISO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.dcom.sk/integration/riso/v2" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:riso="http://schemas.dcom.sk/integration/riso/v2" name="RegisterISO" targetNamespace="http://schemas.dcom.sk/integration/riso/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Version=2.0</wsdl:documentation>
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="WS2007FederationHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1
                            </t:TokenType>
                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                <t:KeySize>256</t:KeySize>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
              <sp:Issuer>
                <wsaws:Address>
                                https://lbsts.intra.dcom.sk:49443/adfs/services/trust/13/certificatetransport
                            </wsaws:Address>
                <wsaws:Metadata xmlns:wsdli="http://www.w3.org/2006/01/wsdl-instance" wsdli:wsdlLocation="http://lbsts.intra.dcom.sk/adfs/services/trust/mex">
                  <wsaw:ServiceName xmlns:stsns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" EndpointName="CertificateWSTrustBinding_IWSTrust13Async2">
                                    stsns:SecurityTokenService
                                </wsaw:ServiceName>
                </wsaws:Metadata>
              </sp:Issuer>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.dcom.sk/integration/riso/v2">
      <xs:import schemaLocation="https://lbsoa.intra.dcom.sk/soa/isogw/riso/2.0/riso?xsd=DCOM-ISO-riso_v2_0.xsd" namespace="http://schemas.dcom.sk/integration/riso/v2" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ResGetInfoMsg">
    <wsdl:part name="getInfoRes" element="riso:ResGetInfo" />
  </wsdl:message>
  <wsdl:message name="ReqGetInfoMsg">
    <wsdl:part name="getInfoReq" element="riso:ReqGetInfo" />
  </wsdl:message>
  <wsdl:message name="ReqGetOperationTypeMsg">
    <wsdl:part name="getOperationTypeReq" element="riso:ReqGetOperationType" />
  </wsdl:message>
  <wsdl:message name="ResGetConfigMsg">
    <wsdl:part name="resGetConfig" element="riso:ResGetConfig" />
  </wsdl:message>
  <wsdl:message name="ResHasServiceMsg">
    <wsdl:part name="hasServiceRes" element="riso:ResHasService" />
  </wsdl:message>
  <wsdl:message name="ReqHasServiceMsg">
    <wsdl:part name="hasServiceReq" element="riso:ReqHasService" />
  </wsdl:message>
  <wsdl:message name="ReqGetConfigMsg">
    <wsdl:part name="getConfigReq" element="riso:ReqGetConfig" />
  </wsdl:message>
  <wsdl:message name="ResGetOperationTypMsg">
    <wsdl:part name="gettOperationTypeRes" element="riso:ResGetOperationType" />
  </wsdl:message>
  <wsdl:message name="RegisterISOFaultMsg">
    <wsdl:part name="regISOFault" element="riso:RegisterISOFault" />
  </wsdl:message>
  <wsdl:portType name="registerISO">
    <wsdl:operation name="hasService">
      <wsdl:input name="hasServiceReq" message="riso:ReqHasServiceMsg" />
      <wsdl:output name="hasServiceRes" message="riso:ResHasServiceMsg" />
      <wsdl:fault name="regISOFault" message="riso:RegisterISOFaultMsg" />
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <wsdl:input name="getInfoReq" message="riso:ReqGetInfoMsg" />
      <wsdl:output name="getInfoRes" message="riso:ResGetInfoMsg" />
      <wsdl:fault name="regISOFault" message="riso:RegisterISOFaultMsg" />
    </wsdl:operation>
    <wsdl:operation name="getConfig">
      <wsdl:input name="getConfigReq" message="riso:ReqGetConfigMsg" />
      <wsdl:output name="getConfigRes" message="riso:ResGetConfigMsg" />
      <wsdl:fault name="regISOFault" message="riso:RegisterISOFaultMsg" />
    </wsdl:operation>
    <wsdl:operation name="getOperationType">
      <wsdl:input name="getOperationTypeReq" message="riso:ReqGetOperationTypeMsg" />
      <wsdl:output name="getOperationTypeRes" message="riso:ResGetOperationTypMsg" />
      <wsdl:fault name="regISOFault" message="riso:RegisterISOFaultMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterISOBinding" type="riso:registerISO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#WS2007FederationHttpBinding_IService_policy" />
    <wsdl:operation name="getConfig">
      <soap:operation soapAction="http://schemas.dcom.sk/integration/riso/getConfig" style="document" />
      <wsdl:input name="getConfigReq">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getConfigRes">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="regISOFault">
        <soap:fault use="literal" name="regISOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="http://schemas.dcom.sk/integration/riso/getInfo" style="document" />
      <wsdl:input name="getInfoReq">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInfoRes">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="regISOFault">
        <soap:fault use="literal" name="regISOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hasService">
      <soap:operation soapAction="http://schemas.dcom.sk/integration/riso/hasService" style="document" />
      <wsdl:input name="hasServiceReq">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hasServiceRes">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="regISOFault">
        <soap:fault use="literal" name="regISOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationType">
      <soap:operation soapAction="http://schemas.dcom.sk/integration/riso/getOperationType" style="document" />
      <wsdl:input name="getOperationTypeReq">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOperationTypeRes">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="regISOFault">
        <soap:fault use="literal" name="regISOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterISOService">
    <wsdl:port name="RegisterISO" binding="riso:RegisterISOBinding">
      <soap:address location="https://lbsoa.intra.dcom.sk/soa/isogw/riso/2.0/riso" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>