Core/WebEas.Services.Esb/Service References/IsoGw/riso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:riso="http://schemas.dcom.sk/integration/riso/v2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/integration/riso/v2" version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="IntegrationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LEVEL0" />
      <xs:enumeration value="LEVEL0A" />
      <xs:enumeration value="LEVEL0M" />
      <xs:enumeration value="LEVEL1" />
      <xs:enumeration value="LEVEL2" />
      <xs:enumeration value="LEVEL3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DCOM_ISO" />
      <xs:enumeration value="DCOM" />
      <xs:enumeration value="ISO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReqBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="municipalOfficeId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikácia obce ako ténanta. Pri volaní cez ESB sa ID obce prenáša v kontextových dátach. Pre podporu volania mimo kontextu obce, napr. batch alebo admin komponenty musí byť tento atribút vyplnený. V prípade. že nie jemožné získať ID obce ani jedným so spôsobou, príslušná operácia vráti chybu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceNamespace" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namespace služby. Jednoznačne identifikuje službu a verziu.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReqHasService" type="riso:ReqHasService" />
  <xs:complexType name="ReqHasService">
    <xs:annotation>
      <xs:documentation>Požiadavka na zistenie, či danná obec (tenant) má v prevádzke príslušnú službu ISO modulu.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:restriction base="riso:ReqBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="municipalOfficeId" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="serviceNamespace" type="xs:string" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReqGetInfo" type="riso:ReqGetInfo" />
  <xs:complexType name="ReqGetInfo">
    <xs:annotation>
      <xs:documentation>Požiadavka na zistenie detailov o službách.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="riso:ReqBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReqGetOperationType" type="riso:ReqGetOperationType" />
  <xs:complexType name="ReqGetOperationType">
    <xs:annotation>
      <xs:documentation>Požiadavka na zistenie typu prevádzky obce ako ténanta.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="municipalOfficeId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikácia obce ako ténanta. Pri volaní cez ESB sa ID obce prenáša v kontextových dátach. Pre podporu volania mimo kontextu obce, napr. batch alebo admin komponenty musí byť tento atribút vyplnený. V prípade. že nie jemožné získať ID obce ani jedným so spôsobou, príslušná operácia vráti chybu.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterISOFault" type="riso:RegisterISOFault" />
  <xs:complexType name="RegisterISOFault">
    <xs:annotation>
      <xs:documentation>Vracia sa v prípade SOAP chyby na rozhraní.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="errorCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConfigBase" type="riso:GetConfigBase" />
  <xs:complexType name="GetConfigBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="configParameter" type="riso:ConfigParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigParameter" type="riso:ConfigParameter" />
  <xs:complexType name="ConfigParameter">
    <xs:annotation>
      <xs:documentation>Konfiguračný parameter</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Meno konfiguračného parametra.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation>Hodnota konfiguračného parametra.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReqGetConfig" type="riso:ReqGetConfig" />
  <xs:complexType name="ReqGetConfig">
    <xs:annotation>
      <xs:documentation>Požiadavka na získanie hodnoty konfiguračného parametra pre konkrétnu obec (tenant).</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="riso:GetConfigBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="municipalOfficeId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifikácia obce ako ténanta. Pri volaní cez ESB sa ID obce prenáša v kontextových dátach. Pre podporu volania mimo kontextu obce, napr. batch alebo admin komponenty musí byť tento atribút vyplnený. V prípade. že nie jemožné získať ID obce ani jedným so spôsobou, príslušná operácia vráti chybu.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResGetConfig" type="riso:ResGetConfig" />
  <xs:complexType name="ResGetConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="riso:GetConfigBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResHasService" type="riso:ResHasService" />
  <xs:complexType name="ResHasService">
    <xs:annotation>
      <xs:documentation>Vracia true, ak na dannej obeci (tenant), existuje služba príslušného ISO modulu. Inak vracia false. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResGetInfo" type="riso:ResGetInfo" />
  <xs:complexType name="ResGetInfo">
    <xs:annotation>
      <xs:documentation>Vracia detailné info o službách.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceDetail" type="riso:ServiceDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResGetOperationType" type="riso:ResGetOperationType" />
  <xs:complexType name="ResGetOperationType">
    <xs:annotation>
      <xs:documentation>Vracia typ prevádzky obce (tenant).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="operationType" type="riso:OperationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceDetail">
    <xs:annotation>
      <xs:documentation>Detail integračnej služby pre ténanta.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="integrationType" type="riso:IntegrationType" />
      <xs:element name="serviceNamespace" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>