Core/WebEas.Services.Esb/Service References/Fs/fs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.dcom.sk/fault/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/fault/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidParameterType">
    <xs:sequence>
      <xs:element name="parameterName" type="xs:string" />
      <xs:element name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DcomFaultType">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:int" />
      <xs:element name="faultMessage" type="xs:string" />
      <xs:element minOccurs="0" name="faultCause" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="invalidParameter" type="tns:InvalidParameterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcomFaultMessage" type="tns:DcomFaultType" />
</xs:schema>