Core/WebEas.Services.Esb/Service References/Fs/fs2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:fs="http://schemas.dcom.sk/integration/fs/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.dcom.sk/integration/fs/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DutyArrearsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DutySubject" type="fs:DutySubjectType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutySubjectType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DutyID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrganizationID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonalID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrganizationName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BirthDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="fs:AddressType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="DutyArrearClaim" type="fs:DutyArrearClaimType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyArrearClaimType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaimType" type="fs:ClaimTypeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelevanceDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>
						Dátum, ku ktorému je nedoplatok evidovaný, napr. dátum poslednej závierky alebo dátum exportu do dátového rozhrania					
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ArrearExists" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrientationAndInventoryNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Town" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PostalCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="County" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClaimTypeType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:annotation>
              <xs:documentation>
								Druh dane alebo pohľadávky, pripravené pre budúcnosť, zatiaľ pevne nastavené na: NDS - nedoplatok daňovej správy
							</xs:documentation>
            </xs:annotation>
            <xs:enumeration value="NDS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDutyArrearsInfoRequest" type="fs:GetDutyArrearsInfoRequest" />
  <xs:complexType name="GetDutyArrearsInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DcomID" type="xs:string">
        <xs:annotation>
          <xs:documentation>DCOM identifikátor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikátor spisu</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDutyArrearsInfoResponse" type="fs:GetDutyArrearsInfoResponse" />
  <xs:complexType name="GetDutyArrearsInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikátor spisu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DutyArrearsInfo" type="fs:DutyArrearsType">
        <xs:annotation>
          <xs:documentation>Informácie o daňovom nedoplatku</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:long">
        <xs:annotation>
          <xs:documentation>Číslo záznamu v epodateľni</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendGetDutyArrearsInfoRequestRequest" type="fs:SendGetDutyArrearsInfoRequestRequest" />
  <xs:complexType name="SendGetDutyArrearsInfoRequestRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DcomID" type="xs:string">
        <xs:annotation>
          <xs:documentation>DCOM identifikátor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikátor spisu</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendGetDutyArrearsInfoRequestResponse" type="fs:SendGetDutyArrearsInfoRequestResponse" />
  <xs:complexType name="SendGetDutyArrearsInfoRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DossierID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikátor spisu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RequestId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifikátor požiadavky</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDutyArrearsInfoReq" type="fs:GetDutyArrearsInfoRequest" />
  <xs:element name="GetDutyArrearsInfoRes" type="fs:GetDutyArrearsInfoResponse" />
  <xs:element name="SendGetDutyArrearsInfoRequestReq" type="fs:SendGetDutyArrearsInfoRequestRequest" />
  <xs:element name="SendGetDutyArrearsInfoRequestRes" type="fs:SendGetDutyArrearsInfoRequestResponse" />
</xs:schema>